h1 {
  font-weight: 700;
  font-size: 60px;
  margin: 20px;
}

input {
  width: 100%;
}

.item-container {
  text-align: left;
  margin-left: 330px;
  width: 100%;
}

.col2 {
  margin-left: 140px;
}

.col3 {
  margin-left: 60px;
}
.item {
  margin: 10px;
}

.row {
  margin: 20px;
}

.c2r4 {
  margin-left: 110px;
}

.btn1 {
  width: 80px;
}
